# Ignore Mac system files
.DS_Store

# Ignore Python virtual environment
pkmn_env/
__pycache__/

# Ignore simulation results
simulation_results.json

# Ignore PLOTS directory
PLOTS/

# Ignore .csv files
battle_prediction_results.png
battles_dataframe.csv
predictions_results.csv
probability_analysis.png